<nav class="navbar navbar-light bg-primary bg-gradient">
    <div class="container-fluid">
        <h2>Restaurant Record App</h2>
        <div class="d-flex">
            <!-- LAUNCH MODAL BUTTON -->
            <button class="btn btn-success bg-gradient" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="resetForm()">Add Restaurant</button>&nbsp;
            <button class="btn btn-danger bg-gradient" type="button" routerLink="/login" >Logout</button>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-6">Restaurant Record Management System</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <!-- <hr class="my-4"> -->
    <p><strong>It uses utility classes for typography and spacing to space content out within the larger
            container.</strong></p>
    <a class="btn btn-primary bg-gradient btn-lm" href="#" role="button">View more</a>
</div>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurant ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurantData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.contact}}</td>
            <td>{{data.address}}</td>
            <td>{{data.services}}</td>
            <td>
                <button class="btn btn-info bg-gradient" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModalUpdate" (click)="onEdit(data)">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteResto(data)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Modal New form-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Restaurant<sup><span
                            class="badge bg-secondary">New</span></sup> Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-Mail</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Contact</label>
                        <input type="text" formControlName="contact" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Address</label>
                        <input type="text" formControlName="address" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Service</label>
                        <input type="text" formControlName="services" class="form-control" id="exampleInputEmail1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addResto()">Add Details</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal update -->
<div class="modal fade" id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Restaurant Details Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-Mail</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Contact</label>
                        <input type="text" formControlName="contact" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Address</label>
                        <input type="text" formControlName="address" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Service</label>
                        <input type="text" formControlName="services" class="form-control" id="exampleInputEmail1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateResto()">Update</button>
            </div>
        </div>
    </div>
</div>